<!DOCTYPE html>
<html lang="en">
<head>
	<title>Herbei | All Orders</title>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/bootstrap4.css">
	<link rel="stylesheet" href="/css/orders.css">
<!--	<link rel="stylesheet" href="/css/cart.css">	-->

</head>
<body>
	<nav class="nav">
		<li><a href="/"><span class="text-primary">HERBEI</span> FASHION</a></li>
		<ul>
			<% if(!user){ %>
				<li><a href="/users/login">Login</a></li>
				<li><a href="/register">Register</a></li>
				<li><a href="/clothes/">Clothes</a></li>				
			<%} else {%>
				<% if(user) {%>
					<li><a href="#"><%=user.name %></a></li>
					<li><a href="/clothe/add">Add</a></li>
					<li><a href="/clothes/">Register</a></li>									
				<% } %>
			<% } %>
		</ul>						
		<ul>
			<% if(user) { %> 
				<li> <a href="/users/logout">Logout</a></li>
			<% } %>								
		</ul>		
	</nav>
	<main>
		<section id="all-clothes">
			<div class="container">
				<div id="order-container" class="p2">
					<% orders.forEach(function(order){ %>
						<div class="order">
							<p>
								<%= order.date.toDateString() %>
							</p>
							<div class="category"><a href="/orders/allOrders/<%=order._id%>">View Order</a></div>
						</div>					
					<% }) %>				
				</div>					
			</div>
		</section>
	</main>	
	<footer id="footer">
		<div class="container">
			<p>Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
		</div>
	</footer>
</body>
</html>