<!DOCTYPE html>
<html lang="en">
<head>
	<title>Herbei | Order</title>	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/bootstrap4.css">
	<link rel="stylesheet" href="/css/orders.css">
</head>
<body>
	<nav class="nav">
	<div>
		<li><a href="/"><span class="text-primary">HERBEI</span> FASHION</a></li>
		
	</div>
		<div>
			<% if(!user){ %>
				<li class="action-gray"><a href="/users/login">Login</a></li>
				<li class="action-red"><a href="/users/register">Register</a></li>
			<% } else {%>
				<li><a href="#"><%=user.userName %></a></li>
				<li><a href="/orders/allorders">All Orders</a></li>
				<li><a href="/clothe/add">Add</a></li>	
			<% } %>					
		</div>
		<div>
			<% if(user){ %>
				<li> <a href="/users/logout">Logout</a></li>
			<% } %>
		</div>		
	</nav>
	<main> 
		<section id="all-clothes">
			<div class="container">
				<div id="clothes-container" class="p2">
					<% order.cart.items.forEach(function(order){ %>
						<article class="card">
							<img src="<%=order.back_view %>" class="p1" alt="info"/>
							<div class="category-box">
								<div class="category-left">
									<div class="category"><a href=""><%= order.name %></a></div>	
								</div>
								<div class="category-left">
									<div class="category"><a href="">Category</a></div></div>
									<div class="category-left">
									<div class="category"><a href="/clothes/<%=order.id%>/view">View</a></div>
									</div>
							</div>
						</article>
					<% }) %>
				</div>	
			</div>
		</section>
	</main>	
		<footer id="footer">
<!--			<div class="container">-->
				<p>Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
<!--			</div>-->
		</footer>
		
</body>
</html>