:root {
	--primary-color: #93cb52;
	--secondary-color: #f99500;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

input{
	outline: none;
}

.center{text-align: center}

.container{
	max-width: 500px;
	margin: auto;
	height: 100%;
	padding: 0 2rem;
	overflow: hidden
}

.m1{
	margin-top: 2rem;
}

.m2{
	margin-top: 4rem;
}

.hidden{
	display: none;
}

.text-primary{
	color: cornflowerblue
}

.center{
	text-align: center;
}

.btn{
	display: inline-block;
	color: white;
	background: cornflowerblue;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

main{
	min-height: 100vh;
}

/*Navbar*/
nav{
	position: sticky;
	top: 0;
	background-color: #333;
	color: white;
	padding: 1.2rem;
	padding-left: 0.6rem;
	padding-right: 0.6rem;
	display: flex;
	justify-content: space-between;
	z-index: 1;
}


nav li a{
	list-style: none;
	text-decoration: none;
	color: white;
}

nav div{
	display: flex;
	height: 100%;
/*	width: auto;*/
/*	vertical-align: center;*/
/*	align-self: center;*/
}

nav > div:first-child li{
	margin-left: 1rem
}

nav > div:last-child li{
	margin-right: 1rem
}


nav div li{
	list-style: none;
	align-self: center;	
	margin: 0 0.4rem;
}

nav div li a{
	text-decoration-line: none;
	color: #fff
}



form{
	margin: 5% auto;
	margin-bottom: 2%;
/*	display: inline-block;*/
	width: 90%;
	flex-direction: column;
}

form .form-box {
	display: flex;
	flex-direction: column;
}

form .form-box > * {
	margin-top: 5px;
}

.form-box label {
	margin-left: 10%;
}

.form-box input {
	width: 80%;
	border: none;
	border-bottom: 1px solid black;
	margin: 5px 10%;
}

.form-box:last-child input {
/*	width: 80%;*/
	border: none;
	margin: 5px 10%;
}

.form-desc input{
	width: 80%;
	border: none;
	margin: 5px 10%;	
}

.submit{
	display: inline-block;
	color: white;
	background: cornflowerblue;
	padding: 0.5rem 0.5rem;
	border: none;
	margin-top: 15px;
	margin-left: 10%;
	border-radius: 5px;
}

#footer{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	background: #333;
/*	position: absolute;*/
	right: 0;
	bottom: 0;
	left: 0;
	color: white
}

#footer p{
	padding: 1rem 0;
}

@media (max-width: 1200px){	
	nav{
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
	}
	
	nav > div{
		display: flex;
		justify-content: center;
	}
	
	nav > div > li{
		text-align: center;
		margin-bottom: 0.2rem;
	}	
	
	footer p{
		text-align: center;
	}
		
	.container{
		max-width: 400px;
		margin:  auto;
/*	height: 100%;*/
		padding: 0 2rem;
		overflow: hidden
	}	
}


@media (max-width: 768px){	
	nav{
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
	}
	
	nav > div{
		display: flex;
		justify-content: center;
	}
	
	nav > div > li{
		text-align: center;
		margin-bottom: 0.2rem;
	}	
	
	footer p{
		text-align: center;
	}
}


@media (max-width: 575px){	
	nav{
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
	}
	
	nav > div{
		display: flex;
		justify-content: center;
	}
	
	nav > div > li{
		text-align: center;
		margin-bottom: 0.2rem;
	}	
	
		
}


@media (max-width: 400px){	
	nav{
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
	}
	
	nav > div{
		display: flex;
		justify-content: center;
	}
	
	nav > div > li{
		text-align: center;
		margin-bottom: 0.2rem;
	}	
	
	footer p{
		text-align: center;
	}
		
	.container{
		max-width: 400px;
		margin:  auto;
/*	height: 100%;*/
		padding: 0 2rem;
		overflow: hidden
	}
}