/*:root {
	--primary-color: #93cb52;
	--secondary-color: #f99500;
}*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
	/*padding: 1rem;*/
/*	position: relative;*/
	/*overflow-x: hidden;*/
/*	min-height: 100%;	*/
}

.text-center{text-align: center}

.add{
	position: fixed;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: orange;
	right: 10px;
	bottom: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.add:hover{
	background-color: red;
	cursor: pointer;
}

.fa-plus{
	font-size: 32px;
	color: white;
}

.image{
    width:45px;
    height:45px;
    display:inline-block;
    border-radius: 50%;
}

main{
	position: relative;
	min-height: 100vh;
	margin-bottom: 2rem;
}

.container{
	max-width: 1100px;
	margin:  auto;
/*	height: 100%;*/ 
	/*padding: 0 2rem;*/
	overflow: hidden
}

.check-container{
	/*max-width: 1100px;*/
	margin:  1rem 2rem;
/*	height: 100%;*/ 
	/*padding: 0 2rem;*/
	/*overflow: */
}

.conditions-container{
	max-width: 1000px;
	/*margin:  auto;*/
/*	display: grid;*/
/*	grid-template-columns: repeat(2, 1fr);	*/
	/*padding: 0 2rem;*/
}

.m1{
	margin-top: 1.5rem;
}

.hidden{
	display: none;
}

.blur{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.category-box input{
/*	display: inline-block;*/
/*	width: 1px;*/
/*	height: 0.01px;*/
/*	visibility: hidden;*/
	border: none;
}

.text-primary{
	color: cornflowerblue
}

.card{
	background: #333;
	padding: 1rem;
	border-radius: 5px;
	height: 550px;
	display: flex;
	flex-direction: column
}

a{
	list-style: none;
	text-decoration: none;
	color: white;
}

.btn{
	display: inline-block;
	color: white;
	background: cornflowerblue;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

#button-container{
	display: flex;
	justify-content: center;
	margin-top: 1rem;
}

/*Navbar*/
nav{
	position: sticky;
	top: 0;
	background-color: #333;
	color: white;
    height: 60px;
	padding-top: 1.0rem;
	padding-bottom: 1.0rem;    
	padding-left: 0.6rem;
/*	padding-right: 0.6rem;*/
	display: flex;
    flex-direction: row;
    width: 100%;
	justify-content: space-between;
	z-index: 1;
}

nav div{
	display: flex;
	height: 100%;
}

nav div li{
    /*align-self: center;*/
}

nav li a{
	list-style: none;
	text-decoration: none;
	color: white;
}
 
nav > div:first-child li{
	margin-left: 1rem
}

nav > div:last-child li{
	margin-right: 1rem
}


nav div li{
	list-style: none;
	align-self: center;	
	margin: 0 0.1rem;
}

nav div li a{
	text-decoration: none;
	color: #fff;
}

nav .hover_ li a:hover{
	text-decoration: none;
	color: white;
    background-color: cornflowerblue;
    padding: 0.2rem 0.8rem;
    border-radius: 5px;
}

.cloth-name{
	background: cornflowerblue;
	color: #fff;
}

#all-clothes{
	margin-top: 1rem;
	
}

#all-clothes #clothes-container{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

.card img{
	height: 78%;
	width: 100%;
	margin-bottom: 5%;
}

.category-box{
	width
	display: flex;
	flex-direction: column;
	justify-content: start;
	position: relative;
}

.category{
	display: inline-block;
	background: cornflowerblue;
	color: #fff;
	font-size: .55rem;
	border: none;
	text-transform: uppercase;
	padding: 0.4rem 0.6rem;
	border-radius: 5px;
	margin-bottom: 0.5rem;
}

.category:last-child{
	margin-right: 0;
}

.cart{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	max-width: 300px;
	margin: 60px auto;
	display: flex;
	flex-direction: column;
	height: 50vh;
	padding: 1rem 2rem;
	overflow: auto;
	background: #f4f4f4;
	border-radius: 10px;
}

.blur{
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.cart-card{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
/*	flex-direction: column;*/
	align-items: center;
}

.cart-image{
	display: inline-block;
/*	margin: 0px auto;*/
	margin-right: 20px;
	height: 150px;
	width: 120px;
	border-radius: 50%;
}

.payment-proceed{
/*	max-width: 900px;*/
/*	margin:  auto;*/
	display: flex;
	margin-top: 10px;
	padding: 0 2rem;
/*	overflow: auto;*/
	justify-content: space-between;	
}

.payment-proceed .category{
	padding: 0.6rem 0.8rem;
}
 
.cart-image img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.cart-header{
	width: 100%;
	display: flex;	
	justify-content: space-between;
}

.cart-header h4{
	margin: auto;
}

#footer{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	background: #333;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
}

#footer p{
	padding: 0.5rem 0;
	text-align: center;	
}


@media (max-width: 1200px){	
	#all-clothes #clothes-container{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
/*		grid-gap: 1rem;*/
	}
	
	nav div{
		display: flex;
		height: 100%;
	}

	nav div li{
    	/*align-self: center;*/
	}

	nav li a{
		list-style: none;
		text-decoration: none;
		color: white;
	}
 
	nav > div:first-child li{
		margin-left: 1rem
	}

	nav > div:last-child li{
		margin-right: 1rem
	}

	nav div li{
		list-style: none;
		align-self: center;	
		margin: 0 0.1rem;
	}

	nav div li a{
		text-decoration: none;
		color: #fff;
	}
		
	#all-clothes{
		min-height: 100%;
		margin-top: 1rem;
		width: 100%	
	}
	
	.container{
		min-height: 100%;
		max-width: 900px;
		margin:  auto;
/*	height: 100%;*/
		padding: 0 2rem;
		overflow: hidden
	}
		
	.cart{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		max-width: 300px;
		margin: 600px auto;
		display: flex;
		flex-direction: column;
		height:50vh;
		padding: 1rem 2rem;
		overflow: auto;
		background: #f4f4f4;
		border-radius: 10px;
	}
}



@media (max-width: 768px){	
	#all-clothes #clothes-container{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 1.5rem;
	}
	
	nav div{
		display: flex;
		height: 100%;
	}

	nav div li{
    	/*align-self: center;*/
	}

	nav li a{
		list-style: none;
		text-decoration: none;
		color: white;
	}
 
	nav > div:first-child li{
		margin-left: 1rem
	}

	nav > div:last-child li{
		margin-right: 1rem
	}

	nav div li{
		list-style: none;
		align-self: center;	
		margin: 0 0.1rem;
	}

	nav div li a{
		text-decoration: none;
		color: #fff;
	}
		
	#all-clothes{
		margin-top: 1rem;
		width: 100%	
	}
	
	.container{
		max-width: 600px;
		margin:  auto;
/*	height: 100%;*/
		padding: 0 2rem;
		overflow: hidden
	}
		
	.cart{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		max-width: 300px;
		margin: 600px auto;
		display: flex;
		flex-direction: column;
		height:50vh;
		padding: 1rem 2rem;
		overflow: auto;
		background: #f4f4f4;
		border-radius: 10px;
	}
}


@media (max-width: 575px){	
	#all-clothes #clothes-container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 1rem;
	}

	.fieldset-box{
		display: flex; 
		flex-direction: column;
	}
	
	nav div{
		display: flex;
		height: 100%;
	}

	nav{
		/*padding: 1.2rem;*/
		height: 80px;
	}

	.nav_{
		height: 100%;
	}

	nav div .nav_{
		display: flex;
		flex-direction: column;
	}

	.nav_ div{
		height: 20px;
		margin-bottom: 7px;
		display: flex;
		justify-content: flex-end;
		/*padding: 0.5rem;*/
		/*margin-bottom:2%; */
	}

	.nav_ div:first-child{
		margin-top: 0; 
	}	

	nav li a{
		list-style: none;
		text-decoration: none;
		color: white;
	}
 
	nav > div:first-child li{
		margin-left: 1rem
	}

	nav > div:last-child li{
		margin-right: 1rem
	}

	nav div li{
		list-style: none;
		align-self: center;	
		margin: 0 0.1rem;
	}

	nav div li a{
		text-decoration: none;
		color: #fff;
	}
	
	footer p{
		text-align: center;
	}
	
	#all-clothes{
		margin-top: 1rem;
		width: 100%	
	}
	
	.container{
		max-width: 400px;
		margin:  auto;
		padding: 0 2rem;
		overflow: hidden
	}
		
	.cart{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		max-width: 300px;
		margin: 600px auto;
		display: flex;
		flex-direction: column;
		height:50vh;
		padding: 1rem 2rem;
		overflow: auto;
		background: #f4f4f4;
		border-radius: 10px;
	}
}


@media (max-width: 400px){	
	#all-clothes #clothes-container{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
/*		grid-gap: 1rem;*/
	}
	
	nav div{
		display: flex;
		height: 100%;
	}

	nav{
		/*padding: 1.2rem;*/
		height: 80px;
	}

	.nav_{
		height: 100%;
	}

	nav div .nav_{
		display: flex;
		flex-direction: column;
	}

	.nav_ div{
		height: 20px;
		margin-bottom: 7px;
		display: flex;
		justify-content: flex-end;
		/*padding: 0.5rem;*/
		/*margin-bottom:2%; */
	}

	.nav_ div:first-child{
		margin-top: 0; 
	}	

	nav li a{
		list-style: none;
		text-decoration: none;
		color: white;
	}
 
	nav > div:first-child li{
		margin-left: 1rem
	}

	nav > div:last-child li{
		margin-right: 1rem
	}

	nav div li{
		list-style: none;
		align-self: center;	
		margin: 0 0.1rem;
	}

	nav div li a{
		text-decoration: none;
		color: #fff;
	}
	
	footer p{
		text-align: center;
	}
	
	#all-clothes{
		margin-top: 1rem;
		width: 100%	
	}
	
	.container{
		max-width: 400px;
		margin:  auto;
/*	height: 100%;*/
		padding: 0 2rem;
		overflow: hidden
	}
		
	.cart{
		position: absolute;
		top: 50px;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		max-width: 300px;
		margin: 600px auto;
		display: flex;
		flex-direction: column;
		height:50vh;
		padding: 1rem 2rem;
		overflow: auto;
		background: #f4f4f4;
		border-radius: 10px;
	}
}
