:root {
	--primary-color: #93cb52;
	--secondary-color: #f99500;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #fff;
}

input{
	outline: none;
}

.center{text-align: center}

main{
	min-height: 100vh;
	width: 100%;
}

.container{
	max-width: 500px;
	margin: 10px auto;
	height: 100%;
	padding: 0 2rem;
/*	overflow: hidden*/
}

.m1{
	margin-top: 2rem;
}

.m2{
	margin-top: 4rem;
} 

.hidden{
	display: none;
}

.text-primary{
	color: cornflowerblue
}

.center{
	text-align: center;
}

.btn{
	display: inline-block;
	color: white;
	background: cornflowerblue;
	padding: 0.5rem 2rem;
	border: none;
	border-radius: 5px;
}

/*Navbar*/
nav{
	position: sticky;
	top: 0;
	background-color: #333;
	color: white;
	padding: 1.2rem;
	display: flex;
	z-index: 1;
	justify-content: space-between;
}

nav li{
	list-style: none;
}

nav li a{
	list-style: none;
	text-decoration: none;
	color: white;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style: none;
	margin: 0 0.4rem;
}

nav ul li a{
	text-decoration-line: none;
	color: #fff
}

form{
/*	margin-top: 20px;*/
	margin: 5px auto;
	margin-bottom: 2%;
/*	display: inline-block;*/
	width: 80%;
	flex-direction: column;
/*	background: #f4f4f4;*/
}

.container form{
/*	margin: auto;*/
}

form .form-box {
	display: flex;
	flex-direction: column;
}

form .form-box > * {
	margin-top: 10px;
}

form label {
	margin-left: 10%;
}

form input {
	width: 80%;
	border: none;
	border-bottom: 1px solid black;
	margin: 0 10%;
}

.submit{
	display: inline-block;
	color: white;
	background: cornflowerblue;
	padding: 0.5rem 0.5rem;
	border: none;
	margin-top: 15px;
	margin-left: 10%;
	border-radius: 5px;
}

#footer{
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	background: #333;
	right: 0;
	bottom: 0;
	left: 0;
	color: white;
}

#footer p{
	padding: 0.5rem 0;
	text-align: center;	
}

/*@media (max-width: 1200px){	
	nav{
		display: flex;
		flex-direction: column;
	}
	
	nav > li{
		text-align: center;
		margin-bottom: 0.5rem;
	}
	
	nav > ul:last-child{
		text-align: center;
		margin-top: 0.5rem;
	}		
}*/


/*@media (max-width: 768px){	
	nav{
		display: flex;
		flex-direction: column;
	}
	
	nav > li{
		text-align: center;
		margin-bottom: 0.5rem;
	}
	
	nav > ul:last-child{
		text-align: center;
		margin-top: 0.5rem;
	}		
	
	nav > ul{
		margin: auto;
	}
}*/


/*@media (max-width: 575px){	
	nav{
		display: flex;
		flex-direction: column;
	}
	
	nav > li{
		text-align: center;
		margin-bottom: 0.5rem;
	}
	
	nav > ul:last-child{
		text-align: center;
		margin-top: 0.5rem;
	}		
	
	nav > ul{
		margin: auto;
	}
}*/


/*@media (max-width: 400px){	
	nav{
		display: flex;
		flex-direction: column;
	}
	
	nav > li{
		text-align: center;
		margin-bottom: 0.5rem;
	}
	
	nav > ul:last-child{
		text-align: center;
		margin-top: 0.5rem;
	}		
	
	nav > ul{
		margin: auto;
	}

}*/
