<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/bootstrap4.css">
	<link rel="stylesheet" href="/css/login.css">
	<title>Herbei | Edit Cloth</title>
</head>
<body>
	<nav class="nav">
	<div>
		<li><a href="/"><img class="image" src="/images/icons/icon-512x512.png" /></a></li>
	</div>
        <div>
			<% if(!user){ %>
				<div class="hover_">
					<li class="action-gray"><a href="/users/login">Login</a></li>
					<li class="action-red"><a href="/users/register">Register</a></li>
				</div>	
			<% } else if(user.type === "User") { %>
			<div class="nav_">
				<div class="hover_ nav_one">
					<li><a href="#"><%=user.userName %></a></li>
					<li style="position: absolute; top: 1000"><a href="#" class="id hidden"><%=user._id%></a></li>				
					<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>
					<li><a href="/users/myOrders">Orders</a></li>					
				</div>
				<div class="hover_ nav_two">
					<li><a class="enable">Enable Notification</a></li>
					<li><a href="/users/logout">Logout</a></li>           		
				</div>
			</div>				 
			<%} else if(user.type === "Admin"){%>
			<div class="nav_">
				<div class="hover_ nav_one">
					<li><a href="#"><%=user.userName %></a></li>
					<li><a href="#" class="id hidden"><%=user._id %></a></li>				
					<li><a href="/orders/allorders">All Orders</a></li>
					<li><a href="/clothes/add">Add Clothes</a></li>		
					<li><a href="/users/myOrders">Orders</a></li>
					<li><a href="#" class="cart-btn"><i class="fa fa-shopping-cart"></i></a></li>
				</div>	
				<div class="hover_ nav_two">
					<li> <a class="enable">Enable Notification</a></li>
					<li> <a href="/users/logout">Logout</a></li>
				</div>
			</div>	            
			<% } %>					
		</div>		
	</nav>
	<main>
		<div class="container">
			<div id="form-box">
				<h3 class="text-center">Edit Cloth</h3>
					<form action="/" method="post">
						<div class="form-bot">
							<label for="name">Name</label>
							<input type="text" name="text" id="names" class="form-control" required>
						</div>
						<div class="form-bot">
							<label for="password">Price</label>
							<input type="password" name="email" id="password" class="form-control" required>
						</div>
						<div class="form-bot">
							<label for="front_view">Front View</label>
							<input type="file" name="front_view" id="front_view" required>
						</div>
						<div class="form-bot">
							<label for="back_view">Back View</label>
							<input type="file" name="back_view" id="back_view" required>
						</div>
						<div class="form-bot">
							<label for="side_view">Side View</label>
							<input type="file" name="side_view" id="side_view" required>
						</div>					
					<button type="submit" class="submit">Upload</button>				
				</form>
			</div>
		</div>
	</main>
	<footer id="footer">
		<div class="container">
			<p>Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
		</div>
	</footer>
</body>
</html>