<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie-edge">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="stylesheet" href="/css/login.css">
	<title>Herbei | Login</title>
</head>
<body>
	<nav class="nav">
		<li><a href="/"><span class="text-primary">HERBEI</span> FASHION</a></li>
		<ul>
			<li><a href="/users/register">Register</a></li>
		</ul>
	</nav>
	<!-- Showing erro or success messages -->
	<div class="container msg-box">
		<% if(error && error.length > 0) {%>
			<div class="mt-1 alert alert-danger center" role="alert"><strong><%=error%></strong></div>
		<% }else if(success && success.length > 0) {%>
			<div class="mt-1 alert alert-success center" role="alert"><strong><%=success%></strong></div>
		<% } %>
	</div>	
	<main>
		<div class="container">
			<form action="/users/login" method="post">
			<h3 class="center m2">Account Login</h3>
				<div class="form-box">
					<label for="email">Email:</label>
					<input type="email" name="email" id="email" class="form-control" required>
				</div>
				<div class="form-box">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" class="form-control" required>
				</div>
				<button type="submit" class="submit">Submit</button>				
			</form>
			<p class="center">No account Yet? <a href="/users/register">Sign Up</a></p>	
		</div>
	</main>
	<footer id="footer">
		<div class="container">
			<p>Copyright &copy; 2019, Herbei_Fashion, All Rights Reserved</p>
		</div>
	</footer>
	<script type="text/javascript">
		window.setTimeout(() => {
			document.querySelector('.msg-box').innerHTML = ''
		},4000)
	</script>					
</body>
</html>